appsettings.json
appsettings.Development.json
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.Views.pdb
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.Views.dll
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.pdb
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.genruntimeconfig.cache
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.exe
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.dll
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.csprojAssemblyReference.cache
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.csproj.CoreCompileInputs.cache
itrytocode/obj/Debug/netcoreapp3.1/itrytocode.assets.cache
itrytocode/bin/Debug/netcoreapp3.1/itrytocode.Views.pdb
itrytocode/bin/Debug/netcoreapp3.1/itrytocode.Views.dll
itrytocode/bin/Debug/netcoreapp3.1/itrytocode.pdb
itrytocode/bin/Debug/netcoreapp3.1/itrytocode.exe
itrytocode/bin/Debug/netcoreapp3.1/itrytocode.dll
.vs/itrytocode/v16/Server/sqlite3/storage.ide
.vs/itrytocode/v16/.suo
.vs/itrytocode/DesignTimeBuild/.dtbcache.v2
*.cache

*.user

*.CopyComplete

*.dll

*.pdb

*.exe

obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Posts/Create.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Posts/Delete.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Posts/Details.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Posts/Edit.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Posts/Index.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs

obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs

obj/itrytocode.csproj.nuget.dgspec.json

obj/itrytocode.csproj.nuget.g.props

obj/itrytocode.csproj.nuget.g.targets

obj/Debug/netcoreapp3.1/itrytocode.csproj.FileListAbsolute.txt

.gitignoretouch
